<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ngx-bootstrap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <br>
  <h3>Template</h3>
  <app-exemplo01></app-exemplo01>

  <br><br>
  <h3>Component</h3>
  <app-exemplo02></app-exemplo02>

  <br><br>
  <h3>Nested</h3>
  <app-exemplo03></app-exemplo03>

  <br><br>
  <h3>Scrolling long content</h3>
  <app-exemplo04></app-exemplo04>
</div>
